.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  scroll-snap-align: start;
}

.container:last-child{
  scroll-snap-align: end;
}



