





.bagAnimation:after{
  content:"";
  height:18px;
  width:22px;
  background-color: orange;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-45%);
  z-index:-2;
  transition: all 0.6s ease-in-out;
}

