.underlineAnimation {
  display: flex;
  position: relative;
  color: #fff;
  margin:0 5px;
}

.underlineAnimation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -2px;
  border-radius:5px;
  left: 0;
  background-color: #14b4c6;
  transform-origin: bottom right;
  transition: transform 0.4s ease-in-out;
}

.underlineAnimation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}