@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer components {
  .button_orange {
    @apply text-center bg-orange-500  text-lg text-white font-semibold tracking-widest rounded;
  }

  .border_blue {
    @apply blue-shadow  outline-none border-cyan-100 border-x border-y;
  }
  .transition_300 {
    @apply transition-all duration-300 ease-linear;
  }
}

@layer utilities {
  .display-none {
    display: none;
  }
  .gold-shadow {
    box-shadow: 0px 0px 5px 2px #ffa821;
  }
  .blue-shadow {
    box-shadow: 0px 0px 4px 1px #97dfff;
  }
  .input_button_lg::-webkit-inner-spin-button {
    height: 41px;
  }

  .scrollbar::-webkit-scrollbar {
    width: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    cursor: pointer;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #c4d7dc;
  }
  .select_arrow_none {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

:root {
  padding: 0;
  margin: 0;
  font-family: "Kosugi Maru", sans-serif;
  height: auto;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
